<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Introduction to Vue</title>
</head>
<body>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author}} - {{ age }}</p>
        </div>

        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="changeTitle('New Book Title')">Change Title</div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        
        <!--  uses css display:none instead of adding or removing block -->
        <div v-show="showBooks">currently showing books</div>
    </div>
    
    <script src="./app.js"></script>
</body>
</html>